* {
  box-sizing: border-box;
}

body {
  font-style: 'Roboto', sans-serif;
  /*cursor: pointer;*/
}

a {
  color: #ffffff;
  text-decoration: none;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-cvs {
  position: relative;
  /*max-width: 1200px;*/
  margin: 0 auto;
}

canvas {
  display: block;
  margin: 0 auto;
}

/*button {
  display: block;
  margin: 0 auto;
  background: blue;
  margin-bottom: 15px;
}*/

.resume,
.game {
  position: relative;
  display: block;

  background: none;
  outline: none;
  border: none;
  padding: 0;
  cursor: pointer;

  color: #eee;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .05em;
  margin: 0 auto;
  margin-bottom: 20px;
}

.resume span,
.game span {
  position: relative;
  z-index: 1;
  display: block;
  min-width: 1em;
  padding: 20px;
  border-radius: 2em;
  background-color: #000;
  border: 1px solid darken(#1E90FF, 5%);
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.2);
  transition: transform .1s, box-shadow .2s, background-color .2s;
  -webkit-transition: transform .1s, box-shadow .2s, background-color .2s;
  -moz-transition: transform .1s, box-shadow .2s, background-color .2s;
  -ms-transition: transform .1s, box-shadow .2s, background-color .2s;
  -o-transition: transform .1s, box-shadow .2s, background-color .2s;
}

.resume::after,
.game::after {
  content: '';
  position: absolute;
  top: -1em;
  bottom: -1em;
  left: -1em;
  right: -1em;
  border-radius: 4em;
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.2), inset 0 0 0px rgba(0, 0, 0, 0.2);
  transition: box-shadow .1s;
}

.resume:hover span,
.resume:focus span,
.game:hover span,
.game:focus span {
  background-color: lighten(#1E90FF, 5%);
}

.resume:active span,
.game:active span {
  background-color: #808080;
  transform: scale(0.97);
  box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.2);
}

.resume:active::after,
.game:active::after {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), inset -3px 3px 1em rgba(0, 0, 0, 0.2);
}

.ball,
.goalkeeper,
.mark,
.title {
  display: block;
  margin: -600px auto 0;
}

.hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/*стили для карточек резюме в игре*/
.card {
  position: absolute;
  width: 400px;
  height: 600px;
  background-color: #DCDCDC;
  padding: 10px;
  overflow-y: scroll;
  z-index: 2;
}

.card-aboutme {
  position: absolute;
  top: 0;
  left: 400px;
}

.card-aducation,
.card-skills {
  position: absolute;
  top: 0;
  left: 0;
}

.card-contacs,
.card-works {
  position: absolute;
  top: 0;
  left: 800px;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-title {
  color: #4682B4;
  font-family: 'Roboto', sans-serif;
}
.card-photo {
  display: block;
  width: 200px;
  overflow: hidden;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.card-description {
  width: 300px;
  border-top: 1px solid black;
  margin: auto;
}

.card-name {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.card-item {
  margin-bottom: 10px;
}

.card-close {
  background-color: transparent;
  width: 50px;
  height: 50px;
  border: none;
  font-size: 20px;
}

.sertificate-photo {
  display: block;
  width: 300px;
  overflow: hidden;
  height: 300px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.skills {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 10px;
  justify-content: space-between;
}

.skills-photo {
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
}

.github-photo,
.pre-photo,
.cross-photo {
  width: 300px;
}

.gulp-photo {
  height: 200px;
}

.soft-skills-photo {
  width: 120px;
  height: 120px;
  margin-bottom: 10px;
}
.lang-photo {
  width: 300px;
  height: 300px;
}

.contact {
  display: flex;
  align-items: center;
}

.contact-info {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  margin-left: 30px;
}

.github-img,
.telegram-img,
.whatsapp-img {
  width: 21px;
  height: 21px;
  overflow: hidden;
}

.whatsapp-info {
  display: inline-block;
  background: url('../img/wts.png') no-repeat 0 0;
  width: 200px;
  height: 100px;
  overflow: hidden;
}

.work-photo {
  width: 100%;
  overflow: hidden;
  height: 200px;
  padding-top: 10px;
}

.work-info {
  text-align: center;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
}

.work-btn {
  display: flex;
  justify-content: center;
  width: 80%;
  padding: 10px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  background: #fff;
  border-radius: 25px;
  box-shadow: 0 4px 6px rgba(122,122,122,.5);
  margin: auto;
  margin-bottom: 15px;
}

.work-btn:hover {
  background-color: rgb(92, 162, 219);
}

.work-btn:active {
  background: #fff;
}

.works {
  margin-bottom: 20px;
}

.works-link {
  justify-content: center;
  margin-bottom: 15px;
  margin-top: 15px;
}

.works-link a {
  color: black;
  position: relative;
}

.works-link a::after {
  display: block;
	position: absolute;
	left: 0;
	width: 0;
	height: 2px; 
	background-color: black; 
	content: "";
	transition: width 0.3s ease-out
}
.works-link a:hover:after {
  width:100%;
}

.main {
  max-width: 1200px;
  box-shadow: 0 4px 6px rgba(122,122,122,.5);
  margin: 0 auto;
}

.personal-information {
  width: 30%;
  background-color: #696969;
  color: #DCDCDC;
  padding: 10px 20px;
  font-weight: 'Roboto', sans-serif;
}

.personal-photo {
  display: block;
  width: 80%;
  overflow: hidden;
  margin: auto;
}

.about-me__title {
  color: rgb(92, 162, 219);
  margin-bottom: 5px;
}

.about-me__description {
  border-top: 2px solid #DCDCDC;
  margin: 0;
  padding-top: 10px;
}



