@font-face {
  font-family: 'Roboto';
  src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
 }

@-webkit-keyframes fade-in {   0% { opacity: 0; }   100% { opacity: 1; }   }
@-moz-keyframes    fade-in {   0% { opacity: 0; }   100% { opacity: 1; }   }
@-o-keyframes      fade-in {   0% { opacity: 0; }   100% { opacity: 1; }   }
@keyframes         fade-in {   0% { opacity: 0; }   100% { opacity: 1; }   }

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: auto;
}

.container-cvs {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}

canvas {
  display: block;
  margin: 0 auto;
}

.rules {
  margin-bottom: 20px;
}

.rules-item {
  margin-bottom: 10px;
}

.resume,
.game {
  position: relative;
  display: block;
  background: none;
  outline: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #eee;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: .05em;
  margin: 0 auto;
  margin-bottom: 20px;
}

.resume span,
.game span {
  position: relative;
  z-index: 1;
  display: block;
  min-width: 1em;
  padding: 20px;
  border-radius: 2em;
  background-color: #000;
  border: 1px solid darken(#1E90FF, 5%);
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.2);
  transition: transform .1s, box-shadow .2s, background-color .2s;
  -webkit-transition: transform .1s, box-shadow .2s, background-color .2s;
  -moz-transition: transform .1s, box-shadow .2s, background-color .2s;
  -ms-transition: transform .1s, box-shadow .2s, background-color .2s;
  -o-transition: transform .1s, box-shadow .2s, background-color .2s;
}

.resume::after,
.game::after {
  content: '';
  position: absolute;
  top: -1em;
  bottom: -1em;
  left: -1em;
  right: -1em;
  border-radius: 4em;
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.2), inset 0 0 0px rgba(0, 0, 0, 0.2);
  transition: box-shadow .1s;
}

.resume:hover span,
.resume:focus span,
.game:hover span,
.game:focus span {
  background-color: lighten(#1E90FF, 5%);
}

.resume:active span,
.game:active span {
  background-color: #808080;
  transform: scale(0.97);
  box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.2);
}

.resume:active::after,
.game:active::after {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), inset -3px 3px 1em rgba(0, 0, 0, 0.2);
}

.ball,
.goalkeeper,
.mark,
.title {
  margin: -600px auto;
}

.hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/*стили для карточек резюме в игре*/
.card {
  position: absolute;
  width: 400px;
  height: 600px;
  background-color: #DCDCDC;
  padding: 20px;
  overflow-y: scroll;
  z-index: 2;
}

.card-aboutme {
  position: absolute;
  top: 0;
  left: 400px;
}

.card-aducation,
.card-skills {
  position: absolute;
  top: 0;
  left: 0;
}

.card-contacs,
.card-works {
  position: absolute;
  top: 0;
  left: 800px;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: inherit;
}

.card-title {
  color: #4682B4;
  font-family: 'Roboto', sans-serif;
}
.card-photo {
  display: block;
  width: 200px;
  overflow: hidden;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.card-description {
  width: 100%;
  border-top: 1px solid black;
  margin: auto;
}

.card-name {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.card-item {
  margin-bottom: 10px;
}

.card-close {
  background-color: transparent;
  width: 50px;
  height: 50px;
  border: none;
  font-size: 20px;
}

.logo {
  width: 100%;
  margin-top: 100px;
}

.sertificate-photo {
  display: block;
  width: 300px;
  overflow: hidden;
  height: 300px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.skills {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 10px;
  justify-content: center;
}

.skills-soft {
  justify-content: start;
}

.skills-photo {
  width: 120px;
  height: 120px;
  margin-bottom: 10px;
  margin-right: 20px;
}

.github-photo,
.pre-photo,
.cross-photo {
  width: 300px;
}

.gulp-photo {
  height: 200px;
}

.soft-skills-photo {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
  margin-left: 20px;
}
.lang-photo {
  width: 300px;
  height: 300px;
}

.contact {
  display: flex;
  align-items: center;
}

.contact-info,
.contact-link {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  margin-left: 30px;
}

.github-img,
.telegram-img,
.whatsapp-img {
  width: 21px;
  height: 21px;
}

.contact__img {
  width: 21px;
  height: 21px;
}

.whatsapp-info,
.whatsapp-link {
  display: inline-block;
  width: 200px;
  height: 50px;
  overflow: hidden;
  margin-left: inherit;
  margin-top: 10px;
}

.whatsapp-info-img {
  width: 100%;
  height: auto;
}

.work-photo,
.work__photo {
  width: 100%;
  overflow: hidden;
  height: 100%;
  padding-top: 10px;
}

.work-info,
.work__info {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.work-btn {
  display: flex;
  justify-content: center;
  width: 80%;
  padding: 10px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  text-align: center;
  color: #000;
  background: #fff;
  border-radius: 25px;
  box-shadow: 0 4px 6px rgba(122,122,122,.5);
  margin: auto;
  margin-bottom: 15px;
}

.work-btn:hover {
  background-color: rgb(92, 162, 219);
}

.work-btn:active {
  background: #fff;
}

.works {
  margin-bottom: 20px;
}

.works-link {
  justify-content: center;
  margin-bottom: 15px;
  margin-top: 15px;
}

.works-link a {
  color: black;
  position: relative;
}

.works-link a::after {
	display: block;
	position: absolute;
	left: 0;
	width: 0;
	height: 2px;
	background-color: black;
	content: "";
	transition: width 0.3s ease-out;
	-webkit-transition: width 0.3s ease-out;
	-moz-transition: width 0.3s ease-out;
	-ms-transition: width 0.3s ease-out;
	-o-transition: width 0.3s ease-out;
}
.works-link a:hover:after {
  width:100%;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

.main {
  box-shadow: 0 4px 6px rgba(122,122,122,.5);
  margin: 0 auto;
  display: none;
}

.animate {
  -webkit-animation: fade-in 2s linear;
  -moz-animation: fade-in 2s linear;
  -o-animation: fade-in 2s linear;
  animation: fade-in 2s linear;
}

.personal-description {
  margin-bottom: 30px;
}

.personal-information {
  width: 30%;
  background-color: #696969;
  color: #DCDCDC;
  padding: 20px 20px;
}

.personal-photo {
  display: block;
  width: 80%;
  overflow: hidden;
  margin: auto;
}

.about-me__title,
.part__title {
  color: rgb(92, 162, 219);
  margin-bottom: 10px;
  font-size: 32px;
}

.about-me__description {
  font-size: 18px;
  border-top: 2px solid #DCDCDC;
  margin: 0;
  padding-top: 15px;
}

.languages {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.resume-infomation {
  width: 70%;
  background-color: #D3D3D3;
  padding: 20px 20px;
  color: #2F4F4F;
}

.resume-infomation__title {
  font-size: 32px;
}

.resume-infomation__position {
  margin-bottom: 60px;
}

.resume-infomation__part {
  margin-bottom: 50px;
}

.resume-infomation__part:last-child {
  margin-bottom: 0;
}

.part__description {
  border-top: 2px solid #2F4F4F;
  padding-top: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;  
}

.soft-skills {
  justify-content: space-between;
}

.about-me__lang {
  width: 120px;
  height: 60px;
  margin: auto;
  display: block;
}

.part-photo {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.photo-length {
  width: 300px;
}

.part-photo__soft {
  width: 50px;
  height: 50px;
}

.part-aducation {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}

.part-aducation__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.part-aducation__description .part-aducation__specialty {
  width: 100%;
  margin-bottom: 15px;
}

.part-aducation__item,
.part-aducation__specialty,
.part-aducation__description {
  padding-top: 10px;
  width: 50%;
}

.part-aducation__title,
.part-aducation__years,
.part-aducation__specialty {
  margin: 0;
}

.part-aducation__title {
  margin-bottom: 8px;
}

.part__sertificates {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sertificate-item {
  width: 30%;
}

.intresting-item {
  margin-bottom: 15px;
  font-size: 18px;
}

.controlers {
  display: none;
}

@media (max-width: 1030px) {
  .container {
    max-width: 750px;
  }

  .container-cvs {
    width: 700px;
  }

  canvas {
    width: 700px;
    height: 350px;
  }

  .ball, .goalkeeper, .mark, .title {
   margin: -350px auto;
  }

  .controlers {
    display: block;
    width: 150px;
    height: 150px;
    position: absolute;
    left: 300px;
    top: 380px;
  }

  .controler {
    width: 50px;
    height: 30px;
    background-color: inherit;
    border: none;
  }

  .controler-top {
    position: absolute;
    top: 0;
    left: 50px;
  }

  .controler:before, 
  .controler:after {
    content: "";
    height: 100%; 
    width: 50%;
    position: absolute; 
    top: 0;
    background: black;
  }

  .controler-top:before {
    left: 0;
    transform: skew(0deg, -10deg);
    -webkit-transform: skew(0deg, -10deg);
    -moz-transform: skew(0deg, -10deg);
    -ms-transform: skew(0deg, -10deg);
    -o-transform: skew(0deg, -10deg);
}

  .controler-top:after {
    right: 0;
    transform: skew(0deg, 10deg);
    -webkit-transform: skew(0deg, 10deg);
    -moz-transform: skew(0deg, 10deg);
    -ms-transform: skew(0deg, 10deg);
    -o-transform: skew(0deg, 10deg);
}


  .controler-right {
    position: absolute;
    top: 50px;
    left: 100px;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
}

  .controler-right:before,
  .controler-left::before {
    left: 0;
    transform: skew(0deg, 10deg);
    -webkit-transform: skew(0deg, 10deg);
    -moz-transform: skew(0deg, 10deg);
    -ms-transform: skew(0deg, 10deg);
    -o-transform: skew(0deg, 10deg);
}

  .controler-right:after,
  .controler-left:after {
    right: 0;
    transform: skew(0deg, -10deg);
    -webkit-transform: skew(0deg, -10deg);
    -moz-transform: skew(0deg, -10deg);
    -ms-transform: skew(0deg, -10deg);
    -o-transform: skew(0deg, -10deg);
}

  .controler-down {
    position: absolute;
    top: 100px;
    left: 50px;
  }

  .controler-down:before {
    left: 0;
    transform: skew(0deg, 10deg);
    }
  .controler-down:after {
    right: 0;
    transform: skew(0deg, -10deg);
    }

  .controler-left {
    position: absolute;
    top: 50px;
    left: 0;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
  }

  .controler-center {
    width: 90px;
    height: 90px;
    background-color: #D3D3D3;
    border-radius: 50%;
    top: 20px;
    position: absolute;
    left: 30px;
  }

  .header {
    max-width: 750px;
  }

  .resume-infomation {
    padding: 20px 20px;
  }
  .part-photo__soft {
    width: 30px;
    height: 30px;
  }
  .part-aducation {
    font-size: 14px;
  }
  .part-photo {
    width: 70px;
    height: 70px;
  }
  .photo-length {
    width: 150px;
  }
  .work-photo {
    height: 150px;
  }
  .part-aducation__item {
    padding: 0;
    align-self: center;
  }
  .part-aducation__description {
    padding-top: 15px;
  }
  .intresting-item {
    font-size: 16px;
  }
  .about-me__description {
    font-size: 16px;
  }
  .about-me__title,
  .part__title {
    font-size: 24px;
  }
  .about-me__lang {
    width: 60px;
    height: 30px;
  }

  .card {
    width: 300px;
    height: 350px;
  }

  .card-aboutme {
    left: 200px;
  }

  .card-contacs,
  .card-works {
    left: 400px;
  }

  .card-item,
  .contact-link {
    font-size: 18px;
  }

  .contact-info {
    font-size: 16px;
    margin-left: 10px;
  }

  .sertificate-photo {
    width: 100%;
  }

  .skills-photo {
    width: 60px;
    height: 60px;
  }

  .pre-photo {
    width: 120px;
  }
}

@media (max-width: 780px) {
  .container {
    max-width: 680px;
  }
  .header {
    max-width: 680px;
  }
  .contact-info {
    margin-left: 15px;
  }
  .contact-img {
    width: 15px;
    height: 15px;
  }
  .intresting-item {
    font-size: 14px;
  }
  .work-btn {
    font-size: 10px;
  }
  .header__img {
    width: 100%;
  }

  .about-me__title,
  .part__title {
    font-size: 20px;
  }
  .part__description {
    justify-content: space-between;
  }

  .contact-info {
    font-size: 14px;
  }
}

@media (max-width: 700px) {
  .container {
    max-width: 320px;
  }
  .header {
    max-width: 320px;
  }
   .main {
     flex-direction: column;
   }
   .personal-information {
     width: 100%;
   }
   .contact-info {
     font-size: 18px;
     margin-left: 20px;
   }
   .contact-img {
     width: 21px;
     height: 21px;
   }
   .whatsapp-info {
    width: 250px;
    height: 70px;
    margin-left: inherit;
   }
   .intresting-item {
     font-size: 16px;
   }
   .resume-infomation {
     width: 100%;
   }
   .resume-infomation__title {
     font-size: 27px;
   }
   .resume-infomation__position {
    margin-bottom: 40px;
  }
  .resume-infomation__part {
    margin-bottom: 30px;
  } 
   .part-aducation {
     margin-bottom: 20px;
   }
   .part-aducation__title,
   .part-aducation__years {
     font-size: 12px;
   }
   .part-aducation__specialty {
     padding: 0;
   }
   .part-aducation__section {
     width: 50px;
   }
   .part__description {
     justify-content: space-between;
   }
   .part-photo {
    width: 50px;
    height: 50px;
  }
  .photo-length {
    width: 150px;
  }

  .work-btn {
    font-size: 8px;
  }
  .part-aducation__specialty {
    font-size: 12px;
  }
  .work-photo {
    height: 100%;
  }
  .logo {
    width: 100%;
    margin-top: 50px;
  }
  .rules-item {
    font-size: 14px;
  }

  .part__sertificates {
    flex-direction: column;
  }

  .sertificate-item {
    width: 90%;
    height: 300px;
    margin-bottom: 10px;
  }
  .part-work {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .work-section {
    display: none;
  }
  .project-photo {
    width: 100%;
    height: 150px;
  }
  .project-description {
    width: 100%;
    text-align: center;
    padding-top: 20px;
  }
  .about-me__lang {
    width: 100px;
    height: 50px;
  }
  .about-me__title,
  .part__title {
    font-size: 24px;
  }

  .container-cvs {
    width: 320px;
  }

  canvas {
    width: 320px;
    height: 160px;
  }

  .ball, .goalkeeper, .mark, .title {
   margin: -160px auto;
  }

  .controlers {
    left: 90px;
    top: 180px;
  }

  .works-link a {
    font-size: 12px;
    margin-left: 5px;
  }
/*
  .controler-top {
    position: absolute;
    top: 0;
    left: 50px;
  }

  .controler-right {
    position: absolute;
    top: 50px;
    left: 100px;
  }

  .controler-down {
    position: absolute;
    top: 100px;
    left: 50px;
  }

  .controler-left {
    position: absolute;
    top: 50px;
    left: 0;
  }*/

  .card {
    width: 150px;
    height: 160px;
    padding: 10px
  }

  .card-header {
    font-size: 12px;
  }
  .card-name {
    font-size: 14px;
    font-weight: 400;
  }
  .card-item {
    font-size: 12px;
  }

  .sertificate-photo {
    height: auto;
  }
  .skills-photo{
    width: 30px;
    height: 30px;
  }
  .pre-photo {
    width: 60px;
    height: 60px;
  }

  .skills-soft {
    justify-content: space-between;
  }
  .soft-skills-photo {
    width: 40px;
    height: 40px;
    margin-left: 0;
    margin-right: 5px;
  }
  .about-me__lang:first-child {
    margin-bottom: 10px;
  }

  .card-aboutme {
    left: 100px;
  }

  .card-photo {
    width: 100px;
    height: 100px;
  }

  .card-contacs, 
  .card-works {
    left: 170px;
  }

 .contact-link {
    font-size: 12px;
    margin-left: 10px;
  }

  .work__info {
    font-size: 12px;
  }

  .contact__img {
    width: 10px;
    height: 10px;
  }

  .card-title {
    font-size: 16px;
  }
}

